.icons{
    display: grid;
    place-content: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.card{
    background-color: rgb(255, 255, 255,0.4);
    width: 300px;
    padding: 1.5rem;
    border-radius: 10px;
    position: relative;
    box-sizing: border-box;
    box-shadow: 0 0 10px rgba(0,0,0,0.7);
}